In [1]:
# Always neds to be done in Rasberry Pi
import findspark
findspark.init('/home/baxman/spark-2.4.7-bin-hadoop2.7')
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('missing').getOrCreate()

In [4]:
df = spark.read.csv('/home/baxman/Codes/PySpark/Python-and-Spark-for-Big-Data-master/Spark_DataFrames/ContainsNull.csv',
                    header = True, inferSchema = True)

In [5]:
df.show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp2| null| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [6]:
# Dropping nans

df.na.drop().show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp4|Cindy|456.0|
+----+-----+-----+

In [7]:
# Dropping nans with thresholding

df.na.drop(thresh = 2).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [8]:
# Dropping nans with methods

df.na.drop(how = 'all').show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp2| null| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [9]:
df.na.drop(subset = 'Sales').show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [12]:
# Filling nans

df.na.fill('FILL STRING').show() # since fill value is a string, string nulls get changed, but not numbers

+----+-----------+-----+
|  Id|       Name|Sales|
+----+-----------+-----+
|emp1|       John| null|
|emp2|FILL STRING| null|
|emp3|FILL STRING|345.0|
|emp4|      Cindy|456.0|
+----+-----------+-----+

In [16]:
df.na.fill(69696).show() # since fill value is a number, number nulls get changed, but not strings

+----+-----+-------+
|  Id| Name|  Sales|
+----+-----+-------+
|emp1| John|69696.0|
|emp2| null|69696.0|
|emp3| null|  345.0|
|emp4|Cindy|  456.0|
+----+-----+-------+

In [17]:
df.na.fill('No NAME',subset = 'Name').show() #

+----+-------+-----+
|  Id|   Name|Sales|
+----+-------+-----+
|emp1|   John| null|
|emp2|No NAME| null|
|emp3|No NAME|345.0|
|emp4|  Cindy|456.0|
+----+-------+-----+

In [23]:
# Filling in missing values with mean -> teed to import functions from pyspark

from pyspark.sql.functions import mean

In [27]:
mean_values = df.select(mean(df['Sales'])).collect()

In [33]:
mean_values

[Row(avg(Sales)=400.5)]

In [34]:
mean_values

[Row(avg(Sales)=400.5)]

In [32]:
mean_sales = mean_values[0][0]

In [35]:
df.na.fill(mean_sales,subset = 'Sales').show() #

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John|400.5|
|emp2| null|400.5|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [40]:
# In one line

df.na.fill(df.select(mean(df['Sales'])).collect()[0][0],subset = 'Sales').show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John|400.5|
|emp2| null|400.5|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+