In [1]:
# Always neds to be done in Rasberry Pi
import findspark
findspark.init('/home/baxman/spark-2.4.7-bin-hadoop2.7')

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [4]:
df = spark.read.json('/home/baxman/Codes/PySpark/Python-and-Spark-for-Big-Data-master/Spark_DataFrames/people.json')

In [5]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [6]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [7]:
df.columns

['age', 'name']

In [8]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [9]:
# Looking at schema
# You can change this methodology to change schema type

from pyspark.sql.types import StructField,StringType,IntegerType,StructType

In [10]:
data_schema = [StructField('age', IntegerType(),True),
              StructField('name',StringType(), True)]

In [11]:
final_struct = StructType(fields = data_schema)

In [12]:
df = spark.read.json('/home/baxman/Codes/PySpark/Python-and-Spark-for-Big-Data-master/Spark_DataFrames/people.json',
                    schema = final_struct)

In [13]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [14]:
type(df['age'])

pyspark.sql.column.Column

In [17]:
# Use SELECT method (from sql) to get info in a dataframe

df.select('age')
type(df.select('age'))

pyspark.sql.dataframe.DataFrame

In [16]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [18]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [21]:
# Selecting top 2 rows
df.head(2)[0] # first row
type(df.head(2)[0])

pyspark.sql.types.Row

In [22]:
# Selecting multiple features

df.select(['age', 'name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [25]:
# Add a new column

df.withColumn('squared_age',df['age']**2).show()

+----+-------+-----------+
| age|   name|squared_age|
+----+-------+-----------+
|null|Michael|       null|
|  30|   Andy|      900.0|
|  19| Justin|      361.0|
+----+-------+-----------+

In [26]:
# As in pandas, thes eoperations are not in-place

In [29]:
# Replacing columns
df.withColumnRenamed('age', 'my_new_age').show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

In [31]:
# Using SQL - SQL temporary view

df.createOrReplaceTempView('people')
results = spark.sql("SELECT * FROM people ")

In [34]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [35]:
new_results = spark.sql("SELECT * FROM people WHERE age < 20")

In [37]:
new_results.show()

+---+------+
|age|  name|
+---+------+
| 19|Justin|
+---+------+